export(rb.columns.add)
export(rb.columns.delete)
export(rb.columns.modify)
export(rb.delete)
export(rb.excludeTables)
export(rb.init)
export(rb.list.tables)
export(rb.table.connect)
export(rb.table.info)
export(rb.table.new)
